langchain 
langchain-core 
langchain-community 
langchain-ollama 
langchain-huggingface 

sentence-transformers
faiss-cpu
pyarrow
e .
python-dotenv 

scikit-learn 
numpy 
pandas 
transformers
torch

pydantic