langchain 
langchain-core
langchain-ollama 
langchain-groq
langchain-huggingface 

sentence-transformers
faiss-cpu
pyarrow
e .
python-dotenv
pyyaml
httpx

scikit-learn 
numpy 
pandas 
transformers
torch

streamlit
pydantic